.bloque-real-gallery {
	ul {
		padding: 0;
		li {
			list-style: none;
			width: 32.33%;
			margin: 0.5%;
			float: left;
			position: relative;
			overflow: hidden;
			img {
				transition: 0.3s;
				width: 100%;
			}
			.content-gallery-overblack {
				text-align: center;
				background: rgba(0,0,0,0.6);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: 0.3s;
			}
			&:hover {
				.content-gallery-overblack {
					opacity: 1;
				}
				img {
					transform: scale(1.1);
				}
			}
			.content-info {
				text-align: center;
				position: relative;
				top: 50%;
				-ms-transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
				display: inline-block;
				padding: 0 1rem;
				h2 {
					color: white;
					font-size: 2.5rem;
					@media (max-width: $anchoTablet) {
						font-size: 1.8rem;
						line-height: 1.6rem;
					}
					@media (max-width: $anchoMobile) {
						font-size: 2.5rem;
						margin-bottom: 0.5rem;
					}
				}
				a {
					background: none;
					border-color: white;
					color: white;
					&:hover {
						color: $vinoTinto;
						background: white;
					}
				}
			}
			h3.name-gallery {
				background-color: #f9f9f9;
				color: $vinoTinto;
				text-transform: uppercase;
				text-align: center;
				width: 100%;
				padding: 0.5rem 1rem;
				font-family: $roboto;
				margin: 0;
				font-size: 1rem;
				line-height: 1rem;
				z-index: 1;
				position: absolute;
				bottom: 0;
				left: 0; 
			}  
			@media (max-width: $anchoMobile) {
				width: 100%;
				margin: 0;
				margin-bottom: 1rem;
				.content-gallery-overblack  {
					opacity: 1;
				}
			}
		}
	}
}