.bloque-content3 {
	height: 34rem;
	background: #f9f9f9;
	padding: 1rem 0;
	&.no-padding {
		padding: 0;
	}
	.content-img {
		background-size: cover;
		background-position: left;
		height: 100%; 
	}
	.content-info {
		height: 100%;
		position: relative;
		.box {
			position: relative;
			top: 50%;
			-ms-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			max-width: 28rem;
			padding: 0 3rem;
			h4 {
				margin-bottom: 6rem;
			}
			h3 {
				margin-bottom: 1rem;
				padding-bottom: 1rem;
				position: relative;
			}
			p {
				margin-bottom: 1rem;
			}
			@media screen and (max-width: $anchoTablet) {
				padding: 0 1.8rem;
			}
			@media screen and (max-width: $anchoMobile) {
				max-width: none;
				width: 100%;
				text-align: center;
			}
		}
	}
	&.flexslider {
		ul {
			height: 100%;
			li {
				height: 100%;
			}
		}
		.flex-control-nav {
			display: none;
			@media screen and (max-width: $anchoMobile) {
				display: block;
			}
		}
		.flex-direction-nav {
			position: absolute;
			z-index: 2;
			bottom: 2rem;
			left: 1rem;
			height: auto;
			li {
				position: relative;
				float: left;
				a {
					position: relative;
					right: auto !important;
					left: auto !important;
					width: 55px;
					&:hover {
						opacity: 0.5 !important;
					}
				}
			}
			a.flex-prev {
				background: url('../img/arrow-prev.png') no-repeat center;
			}
			a.flex-next {
				background: url('../img/arrow-next.png') no-repeat center;
			}
			@media screen and (max-width: $anchoDesktop) {
				transform: scale(0.8);
				left: 0rem;
			}
			@media screen and (max-width: $anchoTablet) {
				transform: scale(0.5);
				left: -1.5rem;
			}
		}
	}
	&.right {
		.content-img {
			float: right;
		}
		.content-info {
			.box {
				float: right;
			}
		}
	}
	@media (max-width: $anchoTablet) {
		height: 32rem;
	}
	@media (max-width: $anchoMobile) {
		height: auto;
		padding-bottom: 0;
		display: flex;
		display: -webkit-inline-box;
		flex-direction: column;
		> div {
			flex: 100%;
			order: 2;
			&.content-info {
				order: 1;
			}
		}
		.content-img {
			height: 32rem;
		}
		.content-info {
			height: auto;
			padding: 1rem 0;
			.box {
				top: auto;
				-ms-transform: none;
				-webkit-transform: none;
				transform: none;
				h4 {
					margin-bottom: 2rem;
				}
			}
		}
	}
	&.back-white {
		background: white;
	}
}