// Gallery

.grid {
	float: left;
	width: 100%;
}

.grid-item {
	width: 33%;
	overflow: hidden;
	cursor: pointer;
	@media screen and (max-width: $anchoMobile) {
		width: 50%;
	}
	&:hover {
		img {
			transform: scale(1.1);
		}
	}
	img {
		width: 100%;
		transition: 0.6s;
	}
	.play {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: url(../img/play-button.png) no-repeat center;
		z-index: 1;
		transition: 0.3s;
		display: none;
		&:hover {
			background-color: rgba(0,0,0,0.3)
		}
		@media screen and (max-width: $anchoDesktop) {
			background-size: 20%;
		}
	}
	&.grid-item-video {
		.play {
			display: block;
		}
	}
}

.fancybox-type-iframe .fancybox-inner {
	overflow: hidden !important;
}

.fancybox-opened .fancybox-skin {
	box-shadow: none;
	border-radius: 0;
}

.botones {
	padding: 0;
	margin-top: 2rem;
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	li {
		width: 31.33%;
		position: relative;
		display: inline-block;
		list-style: none;
		border: 1px solid $vinoTinto;
		text-align: center;
		@media screen and (max-width: $anchoMobile) {
			width: 100%;
		}
		a {
			color: $vinoTinto;
			text-transform: uppercase;
			width: 100%;
			padding: 1.5rem 0;
			display: inline-block;
			font-family: $miso;
			font-size: 1.3rem;
			&:hover {
				opacity: 0.6;
			}
		}
		&.center {
			background-color: $vinoTinto;
			a {
				color: white;
			}
		}
	}
}

.share {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 1rem;
	text-align: center;
	p {
		display: inline-block;
		top: 8px;
		position: relative;
		font-family: $miso;
		font-size: 1.2rem;
		color: $vinoTinto;
		margin-right: 1rem;
		padding-right: 1rem;
		&:after {
			content: "";
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -1rem;
			background: $vinoTinto;
			height: 1.6rem;
			width: 1px;
		}
	}
	ul {
		padding: 0;
		display: inline-block;
		li {
			float: left;
			position: relative;
			margin: 0 0.2rem;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			list-style: none;
			background-color: #83827f;
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
			&.pinteres {
				background-image: url('../img/icon-share-pin.png');
			}
			&.facebook {
				background-image: url('../img/icon-share-fac.png');
			}
			&.twitter {
				background-image: url('../img/icon-share-twi.png');
			}
			&:hover {
				background-color: $vinoTinto;
			}
			a {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}
	}
	.st-btn {
		border-radius: 50% !important;
		background-color: $vinoTinto !important;
	}
	.sharethis-inline-share-buttons {
		display: inline-block !important;
	}
}